body {
  background-color: #13203e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root,
* {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
  --primary: #13203e !important;
  --secondary: #f0d062 !important;
  --tertiary: rgb(123, 90, 214) !important;
  --fake-white: #f1f6ff !important;
}
/* HEADER  */
.Header {
  color: var(--fake-white) !important;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
}

.HeaderImage {
  max-width: 450px;
  max-height: 260px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.HeaderTitle {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

/* CONNECT WALLET BUTTON */

.WalletConnectButton {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  color: var(--fake-white);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.ZyCloone_Container {
  color: var(--fake-white) !important;
}
/* LAUNCH APP BUTTON */
.LaunchAppBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(57, 57, 209);
  color: var(--fake-white) !important;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  margin-bottom: 2rem;
  text-decoration: none;
  transition: background-color 0.1s ease;
}

.LaunchAppBtn:hover {
  background-color: #0055b3;
}

/* BODY */
.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Bodycontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: #f7f7f7 !important;
  border: 1px solid var(--fake-white);
  border-radius: 10px;
}

.css-u4tvz2-MuiFormLabel-root {
  color: #f7f7f7 !important;
}

.image-container,
.text-container {
  flex: 1;
}

.image-container img {
  border-radius: 8px 0 0px 8px;
}

.image-container2 {
  margin-right: 30px;
}

.text-container2 {
  margin-left: 50px;
  padding: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* FOOTER */

/* d bullshit */
.Transactions_Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ZyCloone_WithdrawBox,
.ZyCloone_DepositBox {
  padding: 1rem;
  margin: 1rem 0.5rem;
}

.ZyCloone_Data {
  padding: 1rem 0.5rem;
}

.Data_Style {
  line-height: 1.6;
}

.ZyCloone_ValidationContainer {
  display: flex;
  flex-direction: column;
}

.Trade_Destination_Container > div {
  margin: 1rem 0 !important;
}

.ZyCloone_SwitchBox > .btn {
  margin: 1rem 2rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.zkConnectButton {
  margin: 0 !important;
}

.ZyCloone_Grid {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flex-item-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Sismo_Text {
  font-size: 24px;
}

.ZyCloone_Container.flex-item-right {
}
.ZyCloone_Container.flex-item-right > a {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none !important;
  color: var(--fake-white) !important;
}

.flex-item-right > .ZyCloone_Container {
  border-radius: 8px !important;
}

.SVG_Container {
  height: 50%;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  display: flex;
}

.mb-1 {
  margin-bottom: 1.5rem !important;
}

.ImgSismo {
  max-width: 48px;
  margin-bottom: 0.5rem;
}

.SVG_Container > svg {
  /* height: 48px;
  width: 48px; */
  fill: var(--fake-white) !important;
  font-weight: 600;
}

.css-hyxlzm {
  color: var(--fake-white) !important;
}

.Checkboxes_AmountETH_Label {
  margin-bottom: 0.5rem;
}

.Checkboxes_AmountETH {
  padding-top: 1rem;
}

.bold {
  font-weight: 600;
}

a {
  color: var(--fake-white) !important;
  text-decoration: none !important;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

.ZyCloone_Container {
  padding: 2rem 1rem !important;
  border-radius: 8px;
  border: 1px solid #7fa9f5;
  max-width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  min-width: 30%;
}

.Sismo_SmallText {
  margin-bottom: 0.5rem;
}

.flex-item-right > .ZyCloone_Container {
  /* cursor: pointer; */
}

@media screen and (max-width: 768px) {
  .ZyCloone_Container {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .ZyCloone_Container {
    padding: 0.5rem;
  }
}
.ZyCloone_SwitchBox {
  display: flex;
  flex-direction: column;
}

.ZyCloone_SwitchBox > div {
  align-items: center;
}

.Legal {
  text-align: justify;
}

.Trade_Destination_Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Trade_Destination {
  width: 100%;
}

.Trade_Destination_Container {
  margin-top: 1rem;
  max-width: 300px;
  width: 100%;
}

.Checkboxes_AmountETH,
.RadioButtonCustom {
  color: var(--fake-white);
  /* // basically white but based on blue background */
}

.Trade_Destination_Container * {
  color: var(--fake-white) !important;
}

.Trade_Destination_Container * {
  border-color: #7fa9f5 !important;
}
.Trade_Destination_Container:hover * {
  border-color: #7fa9f5 !important;
}
.footer {
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -10px;

  /* fixed menu */
  position: fixed;
  height: 30px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 480px) {
  .footer {
    height: 70px;
  }

  .footer__list {
    padding: 0;
  }

  .footer__text {
    margin-right: 0 !important;
  }
}

.button-charming {
  height: 3rem;
  /* border-radius: 0.rem; */
  padding: 0 2rem;
  background: linear-gradient(
    -45deg,
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  background-size: 400%;
  background-position: 90% 0;
  color: var(--fake-white);
  transition: background 0.8s;
  border: none;
}
.button-charming:hover {
  background-position: 185% 50%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  min-height: 3rem;
  transition: 0.5s ease;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  min-width: 250px;
  color: var(--fake-white) !important;
}

.Button_Test {
  margin: 1rem !important;
  display: flex;
}

/* end d */

.footer__nav {
  margin: 0;
  padding: 0;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 1rem;
}

.footer__item a {
  text-decoration: none;
  color: #555 !important;
}

.footer__text {
  font-size: 0.8rem;
  color: #888 !important;
  margin-right: 4rem;
}

@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .Spacer_Footer {
    margin-bottom: 6rem;
  }
}

/* TERMS AND CONDITIONS */
.TermsAndConditions {
  color: rgb(0, 0, 0);
  background-color: var(--fake-white);
  border: 1px solid var(--fake-white);
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  max-width: 900px;
}

select {
  /* // A reset of styles, including removing the default dropdown arrow */
  appearance: none;
  /* // Additional resets for further consistency */
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

select::-ms-expand {
  display: none;
}
.select {
  outline: none;
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: var(--fake-white);
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#standard-select {
  border: none !important;
  outline: none;
}

.Spacer_Footer {
  margin-bottom: 6rem;
}

/* VAULT PAGE */
.Transactions_Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ZyCloone_WithdrawBox,
.ZyCloone_DepositBox {
  padding: 1rem;
  margin: 1rem 0.5rem;
}

.ZyCloone_Data {
  padding: 1rem 0.5rem;
}

.Data_Style {
  line-height: 1.6;
}

.ZyCloone_ValidationContainer {
  display: flex;
  flex-direction: column;
}

.ZyCloone_ButtonContainerSismo {
  width: 100%;
  /* padding: 0.5rem; */
  /* min-height: 3rem; */
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  /* padding: 1rem 0; */
  height: 100%;
}
.ZyCloone_ButtonContainer {
  width: 100%;
  padding: 0.5rem;
  min-height: 3rem;
  padding-bottom: 0;
  color: var(--fake-white);
}

.ZyCloone_Container {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #7fa9f5;
  margin-bottom: 50px;
}

.ZyCloone_SwitchBox {
  display: flex;
  flex-direction: column;
}

.Trade_Destination {
  width: 100%;
}

.Trade_Destination_Container {
  margin-top: 1rem;
  max-width: 300px;
  width: 100%;
}

.Checkboxes_AmountETH,
.RadioButtonCustom {
  color: var(--fake-white);
  /* // basically white but based on blue background */
}

.Trade_Destination_Container * {
  color: var(--fake-white) !important;
}

.Trade_Destination_Container * {
  border-color: #7fa9f5 !important;
}
.Trade_Destination_Container:hover * {
  border-color: #7fa9f5 !important;
}

/* cool css for buttons  */
.btn-primary {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary:hover {
  background-color: var(--primary-hover) !important;
  border-color: var(--primary-hover) !important;
  color: var(--white-hover) !important;
}
.btn-secondary {
  background-color: var(--secondary) !important;
  border-color: var(--secondary) !important;
}
.btn-secondary:hover {
  background-color: var(--secondary-hover) !important;
  border-color: var(--secondary-hover) !important;
  color: var(--white-hover) !important;
}
.btn-tertiary {
  background-color: var(--tertiary) !important;
  border-color: var(--tertiary) !important;
}
.btn-tertiary:hover {
  background-color: var(--tertiary-hover) !important;
  border-color: var(--tertiary-hover) !important;
  color: var(--white-hover) !important;
}
.btn-custom-arrow {
  position: relative;
  transition: background-color 300ms ease-out;
  background: linear-gradient(
    -45deg,
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  background-size: 400%;
  background-position: 90% 0;
  color: var(--fake-white);
  transition: background 0.8s;
  border: none;
}
.btn-custom-arrow:hover {
  background-position: 185% 50%;
}
.btn-custom-arrow span {
  display: inline-block;
  position: relative;
  transition: all 300ms ease-out;
  will-change: transform;
}
.btn-custom-arrow:hover span {
  transform: translate3d(-1rem, 0, 0);
}
.btn-custom-arrow svg {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
  will-change: right, opacity;
}
.btn-custom-arrow svg * {
  stroke-width: 5;
  stroke-color: transparent;
}
.btn-custom-arrow:hover svg {
  opacity: 1;
  right: -2rem;
}
.button-charming {
  min-width: 300px !important;
  height: 3rem;
  /* border-radius: 0.rem; */
  padding: 0 2rem;
  background: linear-gradient(
    -45deg,
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  background-size: 400%;
  background-position: 90% 0;
  color: var(--fake-white);
  transition: background 0.8s;
  border: none;
}
.button-charming:hover {
  background-position: 185% 50%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  min-height: 3rem;
  transition: 0.5s ease;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  min-width: 250px;
  cursor: pointer;
  color: ;
}
.btn-ghost {
  background-color: var(--secondary-light);
  border-color: var(--secondary);
}
.btn-ghost:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-outline {
  background-color: transparent !important;
  border-color: #fff !important;
}
h2 {
  color: var(--fake-white);
}
#how {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#how > h2 {
  margin-top: 2rem !important;
}
.second-box-content {
  margin-bottom: 3rem;
}
.btn-what-is-a-transaction {
  margin-top: 1.5rem;
}
.centered-buttons-small {
  margin-left: auto;
  margin-right: auto;
}
.button-first-section {
  margin-left: initial;
  margin-right: initial;
}
.btn-first-tx {
  max-width: none;
}
@media (max-width: 768px) {
  .btn {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .button-charming {
    min-width: 150px !important;
  }
}

@media (max-width: 1200px) {
  .button-charming {
    min-width: 300px !important;
    /* max-width: 250px !important; */
  }
}
/* end cool css for buttons  */

.ZyCloone_Container {
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0;
  margin: 0;
  min-height: 9rem;
  border-radius: 0 8px 8px 8px !important;
}

.ZyCloone_ValidationContainer {
  width: 100%;
  padding: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.btn-change-mode {
  padding: 1rem 0.5rem;
  border: 1px solid var(--primary);
  border-radius: 8px 8px 0 0 !important;
  border-color: #7fa9f5 !important;
  transition: background-color 2s ease-in;
  background-size: 400%;
  border-bottom: 0;
  /* background: linear-gradient(
    -45deg,
    #7fa9f5 5%,
    #13203e 5%,
    #7fa9f5 95%
  ) !important; */
  background: linear-gradient(-45deg, #13203e 30%, #7fa9f5, #13203e 30%);
  background-position: 185% 50%;

  transition: all 0.5s ease-in;
  background-position: 90% 0;
}

.btn-change-mode: hover {
  background-position: 185% 50%;
  /* background: linear-gradient(
    -45deg,
    #7fa9f5 5%,
    #13203e 5%,
    #7fa9f5 95%
  ) !important; */
}

.mode-1 {
  /* background: linear-gradient(-45deg, #13203e, #7fa9f5, #13203e, #7fa9f5,#13203e); */
}
.mode-2 {
  /* background: linear-gradient(45deg, #7fa9f5, #13203e 8%); */

  background-position: 90% 0;
}
