body {
  background-color: #13203e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* HEADER  */
.Header {
  color: #f1f6ff !important;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
}

.HeaderImage {
  width: 450px;
  height: 260px;
}

.HeaderTitle {
  font-size: 1.5em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 20px;
}

/* CONNECT WALLET BUTTON */
.LaunchAppBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: rgb(57, 57, 209);
  color: #f1f6ff !important;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: auto;
  margin-bottom: 200px;
}

.LaunchAppBtn:hover {
  background-color: #0055b3;
}

/* BODY */
.page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Bodycontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  color: #f7f7f7 !important;
  border: 1px solid white;
  border-radius: 10px;
}

.css-u4tvz2-MuiFormLabel-root {
  color: #f7f7f7 !important;
}

.image-container,
.text-container {
  flex: 1;
}

.image-container2 {
  margin-right: 30px;
}

.text-container2 {
  margin-left: 50px;
  padding: 30px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* FOOTER */

/* d bullshit */
.Transactions_Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.ZyCloone_WithdrawBox,
.ZyCloone_DepositBox {
  padding: 1rem;
  margin: 1rem 0.5rem;
}

.ZyCloone_Data {
  padding: 1rem 0.5rem;
}

.Data_Style {
  line-height: 1.6;
}

.ZyCloone_ValidationContainer {
  display: flex;
  flex-direction: column;
}

.ZyCloone_Container {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #7fa9f5;
  max-width: 50%;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .ZyCloone_Container {
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .ZyCloone_Container {
    padding: 0.5rem;
  }
}
.ZyCloone_SwitchBox {
  display: flex;
  flex-direction: column;
}

.ZyCloone_SwitchBox > div {
  align-items: center;
}

.Trade_Destination_Container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Trade_Destination {
  width: 100%;
}

.Trade_Destination_Container {
  margin-top: 1rem;
  max-width: 300px;
  width: 100%;
}

.Checkboxes_AmountETH,
.RadioButtonCustom {
  color: #f1f6ff;
  /* // basically white but based on blue background */
}

.Trade_Destination_Container * {
  color: #f1f6ff !important;
}

.Trade_Destination_Container * {
  border-color: #7fa9f5 !important;
}
.Trade_Destination_Container:hover * {
  border-color: #7fa9f5 !important;
}
.footer {
  background-color: #f7f7f7;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -10px;

  /* fixed menu */
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.button-charming {
  height: 3rem;
  /* border-radius: 0.rem; */
  padding: 0 2rem;
  background: linear-gradient(
    -45deg,
    var(--primary),
    var(--secondary),
    var(--primary)
  );
  background-size: 400%;
  background-position: 90% 0;
  color: #fff;
  transition: background 0.8s;
  border: none;
}
.button-charming:hover {
  background-position: 185% 50%;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  min-height: 3rem;
  transition: 0.5s ease;
  max-width: 350px;
  text-align: center;
  justify-content: center;
  min-width: 250px;
}

.Button_Test {
  margin: 1rem !important;
  display: flex;
}

/* end d */

.footer__nav {
  margin: 0;
  padding: 0;
}

.footer__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item:not(:last-child) {
  margin-right: 1rem;
}

.footer__item a {
  text-decoration: none;
  color: #555;
}

.footer__text {
  font-size: 0.8rem;
  color: #888;
}

/* TERMS AND CONDITIONS */
.TermsAndConditions {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid white;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
}
